<nav>
    <div class="nav-container">
        <ul class="nav-links left">
            <a href="/" class="logo">Cinemax</a>
            <li><a href="/movies" class="hide-on-mobile">Movies</a></li>
            <li><a href="/theaters" class="hide-on-mobile">Theaters</a></li>
        </ul>
        <ul class="nav-links right">
            <% if (user) { %>
                <% if (user.role === 'owner' || user.role === 'supervisor' || user.role === 'admin') { %>
                    <li><a href="/admin" class="nav-btn hide-on-mobile">Dashboard</a></li>
                <% } %>
                <li><a href="/profile" class="nav-btn hide-on-mobile">Profile</a></li>
                <li><a href="/auth/logout" class="nav-btn hide-on-mobile">Logout</a></li>
            <% } else { %>
                <li><a href="/sign-in" class="nav-btn hide-on-mobile">Sign In</a></li>
                <li><a href="/sign-up" class="nav-btn hide-on-mobile">Sign Up</a></li>
            <% } %>
            <li onclick=toggleSidebar() class="hide show-on-mobile"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </div>
    <div class="sidebar hide-on-mobile">
        <ul>
            <li onclick=toggleSidebar()><a href="#"><i class="fas fa-times"></i></a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/theaters">Theaters</a></li>
            <% if (user) { %>
                <% if (user.role === 'owner' || user.role === 'supervisor' || user.role === 'admin') { %>
                    <li><a href="/admin">Dashboard</a></li>
                <% } %>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/sign-in">Sign In</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
            <% } %>
        </ul>
    </div>
</nav>
