<nav>
    <div class="left">
        <ul class="nav-links">
            <a href="../Home/index.html" class="logo">Cinemax</a>
            <li><a href="../Movies/movies.html">Movies</a></li>
            <li><a href="../Theaters/theaters.html">Theaters</a></li>
            <li><a href="../Offers/offers.html">Offers</a></li>
        </ul>
    </div>
    <div class="right">
        <ul class="nav-links">
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="../Auth/login.html" class="nav-btn">Sign In</a></li>
            <li><a href="../Auth/signup.html" class="nav-btn">Sign Up</a></li>
        </ul>
    </div>
</nav>