.theaters-page {
  padding: 20px 100px;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

.filters {
  background-color: #000000;
  padding: 20px;
  overflow-y: auto;
}

/* Enhanced .filters styles */
.filters h2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  color: #fff;
}

.filters input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #1a1a1a;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.filter-group h3 {
  margin-bottom: 10px;
}

.filter-options {
  list-style: none;
  padding-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active{
  background-color: #cc3a32;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
}

.filter-options li {
  padding: 10px 15px;
  margin-bottom: 10px;
}

.filter-options li:hover {
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 5px;
}

/* Theaters */

.theaters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}

.theaters-list {
  padding: 20px;
  overflow-y: auto;
}

.theaters-list h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
}

.theater-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.theater-card {
  background-color: #121212;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.theater-card img {
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
  filter: brightness(70%);
}

.theater-info {
  padding: 30px 15px;
}

.theater-info h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #fff;
}

.theater-info h6 {
  margin: 0 0 2px 0;
  font-size: 14px;
  color: #fff;
}

.theater-info p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #ccc;
}

.btn {
  background-color: #cc3a32;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}

.tags {
  margin: 20px 10px 30px 0;
}

.tags span {
  background-color: #444;
  padding: 5px 10px;
  border-radius: 5px;
}

.features {
  margin-top: 10px;
}

.feature-badge {
  display: inline-block;
  background-color: #1e2a38;
  padding: 5px 10px;
  margin: 5px 5px 0 0;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
}

.filters .filter-group {
  margin-bottom: 20px;
}

.filters .filter-group .filter-option {
  transition: background-color 0.3s ease;
}

.filters .filter-group .filter-option:hover {
  background-color: #cc3a32;
  color: #fff;
}

.filters .search-bar {
  margin-bottom: 20px;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: gold;
  margin-bottom: 10px;
}

.rating .star {
  margin-right: 5px;
}

.theater-card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
