<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinemax</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/Style/main.css">
    <link rel="stylesheet" href="/Style/Pages/Auth/login.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="login-container">
        <h1 class="logo">CINEMAX</h1>
        <h2 style="font-weight: bold;">Welcome back</h2>
        <p>Sign in to continue your movie journey</p>

        <div class="login-form">
            <form action="">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" required>
                </div>
                <div class="input-group">
                    <div class="label-row">
                        <label for="password">Password</label>
                        <a href="#" class="forgot-link">Forgot password?</a>
                    </div>
                    <input type="password" id="password" required>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
                <div class="divider">
                    <hr><span>Or continue with</span><hr>
                </div>
                <div class="social-login">
                    <button class="btn btn-outline"><i class="fab fa-google"></i> Google</button>
                    <button class="btn btn-outline"><i class="fab fa-facebook"></i> Facebook</button>
                </div>
            </form>
            <p class="signup-link">Don't have an account? <a href="./signup.html">Sign up</a></p>
        </div>
    </div>
    <script src="/Scripts/main.js"></script>
    <%- include('../partials/footer') %>
</body>
</html>