.faq-container {
    max-width: 800px;
    margin: 100px 20px;
    padding: 20px;
    background-color: #111;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    justify-self: center;
}

.faq-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #e50914;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e50914;
}

.faq-answer {
    display: none;
    margin-top: 5px;
    padding-left: 10px;
    line-height: 1.6;
    color: #ddd;
    transition: max-height 0.3s ease;
    overflow: hidden;
}
